:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #5fbaff;
  text-decoration: inherit;
}
a:hover {
  color: #5fbaff;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

#root {
  max-width: none;
  margin: 0;
  padding: 0;
}
